{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}YTDL{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>YTDL</h1>
</div>
<div id="loading" class="modal"><img src="/static/loading.gif" title="Loading" /></div>
<!-- {{ wtf.quick_form(form, id="convert") }} -->
<div>
    <form id="convert" class="form form-horizontal" method="post" role="form">
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form) }}
        {{ wtf.form_field(form.urls) }}
        {{ wtf.form_field(form.bit) }}
        {{ wtf.form_field(form.vid) }}
        <div id="submit" class="trigger"><br />{{ wtf.form_field(form.run) }}</div>
    </form>
</div>
<div id="download" hidden>
    <br>
    <form id="start-dl" class="form" method="post" role="form">
        {{ dl_form.hidden_tag() }}
        <div id="dl" class="trigger">{{ wtf.form_field(dl_form.dl) }}</div>
    </form>
</div>
<div id="err" hidden>
    <br>
    <p><font color="red" size="12">There was an error</font></p>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var form = $('#submit');
    form.click(function(e){
        var url = "{{ url_for('app.convert') }}";
        $('#download').hide();
        $('#err').hide();
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: url,
            data: $('#convert').serialize(),
            success:function(){
                $('#loading').hide();
                $('#download').show();
            },
            error:function(){
                $('#loading').hide();
                $('#err').show();
            }
        });
        e.preventDefault();
    });
</script>
{% endblock %}